@import url('reset.css');
@import url('index.css');
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

nav {
  height: auto;
  flex-direction: column;
}

nav ul {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

nav ul li a {
  font-size: 16px;
}

.brand {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}

.content {
  width: 100%;
  flex-direction: column;
}

.single img {
  width: 80%;
}

.grid4 {
  grid-template-columns: 1fr;
  width: 100%;
}

.grid4 img {
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  height: auto;
}

.title, .golden {
  font-size: 90px;
  margin: 30px auto;
}

.content-wrapper {
  margin: 30px auto;
}

.full-image {
  height: 300px;
}

.content, footer, .grid4 {
  height: auto;
}

footer {
  font-family: Open Sans, sans-serif;
  flex-direction: column;
}

.footer-content-wrapper h3 {
  margin: auto;
  padding-top: 30px;
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  /* Styles */
  nav {
    flex-direction: row;
  }
  .brand {
    width: auto;
  }
  nav ul {
    flex-direction: row;
  }
  .golden {
    font-size: 130px;
  }
  .grid4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid4 img {
    margin: 0;
    max-width: 100%;
  }
  .full-image {
    height: 600px;
  }
  /*footer{
  flex-direction:row;
  justify-content:space-around;
}*/
  .footer-content-wrapper {
    max-width: 600px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles */
  nav{
    flex-direction:row;
  }
  nav ul{
    flex-direction:row;
  }
  nav ul li a{
    font-size:24px;
  }
  .brand {
    width:auto;
  }
  .golden{
    font-size: 190px;
  }
  .full-image{
    height:800px;
  }
  .content{
    flex-direction:row;
  }
  .single img{
    max-width: auto;
  }
  footer{
    flex-direction:row;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation : landscape) {
  /* Styles */
  footer{
    flex-direction:column;
  }
  nav{
    flex-direction:column;
  }
  nav ul{
    flex-direction:column;
  }
}
